<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <!--<setting name="logImpl" value="LOG4J"/>-->
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="com.ibingbo.models.User"/>
        <typeAlias type="com.ibingbo.models.Account" alias="Account"/>
        <typeAlias type="com.ibingbo.models.City" alias="City"/>
    </typeAliases>

    <typeHandlers>
        <!--添加针对jdk1.8新日期时间类型，LocalDate,LocalDateTIme等的类型处理器-->
        <typeHandler handler="org.apache.ibatis.type.LocalTimeTypeHandler"/>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler"/>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </typeHandlers>
</configuration>