<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是为了方便区别其他sql，可以适当的全命名 -->
<mapper namespace="com.ibingbo.mappers.account">
    <!-- 结果映射 -->
	<resultMap id="accountMap" type="com.ibingbo.models.Account">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="login_time" property="login_time" />
		<result column="create_time" property="create_time" />
		<result column="buc_userid" property="buc_userid" />
		<result column="empid" property="empid" />
	</resultMap>
	<!-- 结果映射 -->
	
	<select id="getAccounts" resultMap="accountMap">
		select * from user
	</select>

</mapper>