<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是为了方便区别其他sql，可以适当的全命名 -->
<mapper namespace="com.ibingbo.mappers.city">
    <!-- 结果映射 -->
	<resultMap id="cityMap" type="com.ibingbo.models.City">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="name_py" property="name_py" />
		<result column="name_en" property="name_en" />
		<result column="ad_code" property="ad_code" />
		<result column="province" property="province" />
		<result column="province_code" property="province_code" />
		<result column="city" property="city" />
		<result column="city_code" property="city_code" />
		<result column="city_name" property="city_name" />
		<result column="x" property="x" />
		<result column="y" property="y" />
		<result column="bottomleftx" property="bottomleftx" />
		<result column="bottomlefty" property="bottomlefty" />
		<result column="toperightx" property="toperightx" />
		<result column="toperighty" property="toperighty" />
		<result column="gridcode" property="gridcode" />
		<result column="zoom" property="zoom" />
		<result column="pcd" property="pcd" />
		<result column="pixel" property="pixel" />
		<result column="bottomleftpixel" property="bottomleftpixel" />
		<result column="toperightpixel" property="toperightpixel" />
		<result column="district" property="district" />
		<result column="poiid" property="poiid" />
		<result column="area_code" property="area_code" />
		<result column="zip_code" property="zip_code" />
		<result column="status" property="status" />
		<result column="sequ" property="sequ" />
		<result column="update_user" property="update_user" />
		<result column="update_time" property="update_time" />
		<result column="s_name" property="s_name" />
		<result column="s_name_en" property="s_name_en" />
		<result column="citycode" property="citycode" />
	</resultMap>
	<!-- 结果映射 -->
	
	<select id="getCityList" resultMap="cityMap">
		select * from city
	</select>

</mapper>